In [2]:
library("dplyr")
library("reshape2")

df_ibm = read.csv("IBM.csv")
df_msft = read.csv("MSFT.csv")
df_goog = read.csv("GOOG.csv")
df_appl = read.csv("AAPL.csv")
df_amzn = read.csv("AMZN.csv")
df_fb = read.csv("FB.csv")

In [75]:
head(df_ibm)
result_df_ibm = df_ibm%>%
mutate(ratio_Close = lag(Close)/Close, ratio_Adj.Close = lag(Adj.Close)/Adj.Close) %>%
mutate(difference = ratio_Adj.Close - ratio_Close) %>%
mutate(divident = difference * Close) %>%
select(Date, divident)
head(result_df_ibm)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 154.50 154.81 153.54 154.25 133.8036  4202500
2 2018-01-03 157.34 159.81 156.33 158.49 137.4815  9441600
3 2018-01-04 159.65 162.32 159.37 161.70 140.2660  7556200
4 2018-01-05 162.44 162.90 161.10 162.49 140.9513  5195800
5 2018-01-08 162.66 163.91 161.70 163.47 141.8014  5237500
6 2018-01-09 163.90 164.53 163.06 163.83 142.1137  4341800

  Date       divident
1 2018-01-02            NA
2 2018-01-03  1.476582e-05
3 2018-01-04 -5.596542e-06
4 2018-01-05  2.735087e-06
5 2018-01-08 -4.898088e-06
6 2018-01-09  1.205400e-05

In [76]:
head(df_msft)
result_df_msft = df_msft%>%
mutate(ratio_Close = lag(Close)/Close, ratio_Adj.Close = lag(Adj.Close)/Adj.Close) %>%
mutate(difference = ratio_Adj.Close - ratio_Close) %>%
mutate(divident = difference * Close) %>%
select(Date, divident)
head(result_df_msft)

  Date       Open  High  Low   Close Adj.Close Volume
1 2018-01-02 86.13 86.31 85.50 85.95 82.38364  22483800
2 2018-01-03 86.06 86.51 85.97 86.35 82.76704  26061400
3 2018-01-04 86.59 87.66 86.57 87.11 83.49552  21912000
4 2018-01-05 87.66 88.41 87.43 88.19 84.53070  23407100
5 2018-01-08 88.20 88.58 87.60 88.28 84.61697  22113000
6 2018-01-09 88.65 88.73 87.86 88.22 84.55946  19484300

  Date       divident
1 2018-01-02            NA
2 2018-01-03 -4.587166e-06
3 2018-01-04 -1.044489e-05
4 2018-01-05  9.505781e-06
5 2018-01-08 -2.375701e-06
6 2018-01-09  1.584878e-06

In [77]:
head(df_goog)
result_df_goog = df_goog%>%
mutate(ratio_Close = lag(Close)/Close, ratio_Adj.Close = lag(Adj.Close)/Adj.Close) %>%
mutate(difference = ratio_Adj.Close - ratio_Close) %>%
mutate(divident = difference * Close) %>%
select(Date, divident)
head(result_df_goog)

  Date       Open    High    Low      Close   Adj.Close Volume
1 2018-01-02 1048.34 1066.94 1045.230 1065.00 1065.00   1237600
2 2018-01-03 1064.31 1086.29 1063.210 1082.48 1082.48   1430200
3 2018-01-04 1088.00 1093.57 1084.002 1086.40 1086.40   1004600
4 2018-01-05 1094.00 1104.25 1092.000 1102.23 1102.23   1279100
5 2018-01-08 1102.23 1111.27 1101.620 1106.94 1106.94   1047600
6 2018-01-09 1109.40 1110.57 1101.231 1106.26 1106.26    902500

  Date       divident
1 2018-01-02 NA
2 2018-01-03  0
3 2018-01-04  0
4 2018-01-05  0
5 2018-01-08  0
6 2018-01-09  0

In [78]:
head(df_appl)
result_df_appl = df_appl%>%
mutate(ratio_Close = lag(Close)/Close, ratio_Adj.Close = lag(Adj.Close)/Adj.Close) %>%
mutate(difference = ratio_Adj.Close - ratio_Close) %>%
mutate(divident = difference * Close) %>%
select(Date, divident)
head(result_df_appl)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 42.5400 43.0750 42.3150 43.0650 41.38024  102223600
2 2018-01-03 43.1325 43.6375 42.9900 43.0575 41.37303  118071600
3 2018-01-04 43.1350 43.3675 43.0200 43.2575 41.56522   89738400
4 2018-01-05 43.3600 43.8425 43.2625 43.7500 42.03845   94640000
5 2018-01-08 43.5875 43.9025 43.4825 43.5875 41.88231   82271200
6 2018-01-09 43.6375 43.7650 43.3525 43.5825 41.87751   86336000

  Date       divident
1 2018-01-02            NA
2 2018-01-03 -6.139798e-07
3 2018-01-04 -7.569184e-06
4 2018-01-05 -3.268198e-06
5 2018-01-08  6.372068e-06
6 2018-01-09 -7.614291e-06

In [79]:
head(df_amzn)
result_df_amzn = df_amzn%>%
mutate(ratio_Close = lag(Close)/Close, ratio_Adj.Close = lag(Adj.Close)/Adj.Close) %>%
mutate(difference = ratio_Adj.Close - ratio_Close) %>%
mutate(divident = difference * Close) %>%
select(Date, divident)
head(result_df_amzn)

  Date       Open    High    Low     Close   Adj.Close Volume
1 2018-01-02 1172.00 1190.00 1170.51 1189.01 1189.01   2694500
2 2018-01-03 1188.30 1205.49 1188.30 1204.20 1204.20   3108800
3 2018-01-04 1205.00 1215.87 1204.66 1209.59 1209.59   3022100
4 2018-01-05 1217.51 1229.14 1210.00 1229.14 1229.14   3544700
5 2018-01-08 1236.00 1253.08 1232.03 1246.87 1246.87   4279500
6 2018-01-09 1256.90 1259.33 1241.76 1252.70 1252.70   3661300

  Date       divident
1 2018-01-02 NA
2 2018-01-03  0
3 2018-01-04  0
4 2018-01-05  0
5 2018-01-08  0
6 2018-01-09  0

In [80]:
head(df_fb)
result_df_fb = df_fb%>%
mutate(ratio_Close = lag(Close)/Close, ratio_Adj.Close = lag(Adj.Close)/Adj.Close) %>%
mutate(difference = ratio_Adj.Close - ratio_Close) %>%
mutate(divident = difference * Close) %>%
select(Date, divident)
head(result_df_fb)

  Date       Open   High   Low    Close  Adj.Close Volume
1 2018-01-02 177.68 181.58 177.55 181.42 181.42    18151900
2 2018-01-03 181.88 184.78 181.33 184.67 184.67    16886600
3 2018-01-04 184.90 186.21 184.10 184.33 184.33    13880900
4 2018-01-05 185.59 186.90 184.93 186.85 186.85    13574500
5 2018-01-08 187.20 188.90 186.33 188.28 188.28    17994700
6 2018-01-09 188.70 188.80 187.10 187.87 187.87    12393100

  Date       divident
1 2018-01-02 NA
2 2018-01-03  0
3 2018-01-04  0
4 2018-01-05  0
5 2018-01-08  0
6 2018-01-09  0